.popular {
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__subtitle {
        text-align: center;
        margin-bottom: 5.625rem;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;
    }
    &__button {
        display: block;
        background: transparent;
        border: 1px solid var(--text-color);
        color: var(--first-color);
        &:hover {
            background: linear-gradient(90deg, #1e252b, #2b2e32);
            border: 1px solid var(--first-color);
        }
    }
}
.tools {
    margin-bottom: 6.25rem;
    max-width: 24rem;
    border-radius: 15px;
    transition: 0.3s;
    &__container {
        padding: 2.0625rem;
    }
    &__title {
        background-image: url(/assets/img/tools1.png);
        height: 64px;
        background-repeat: no-repeat;
        background-size: contain;
        padding-left: 5.9375rem;
        margin-bottom: 1.9375rem;
        & p {
            font-size: 2.25rem;
            color: var(--title-color);
            line-height: 2.25rem;
            margin-bottom: 0.25rem;
        }
        #small {
            color: var(--first-color);
            font-size: 1.6875rem;
            line-height: 1.6875rem;
            filter: invert(0.3);
        }
    }
    &__descriptions {
        font-size: var(--normal-font-size);
        line-height: 1.875rem;
        margin-bottom: 1.875rem;
    }
    &__data {
        display: flex;
        justify-content: space-between;
        &-img {
            font-size: var(--h3-font-size);
            display: flex;
            gap: 1rem;
        }
        &-img-1 {
            cursor: pointer;
            transition: 0.3s;
        }
        &-button {
            background-color: transparent;
            border: none;
            transition: 0.3s;
            &:hover {
                background-color: var(--first-color);
            }
        }
    }
    &:hover {
        background: linear-gradient(30deg, #1e252b, #2b2e32);
        transform: translateY(-10px);
        animation: float 4s ease-in-out infinite;
    }
    .active {
        color: red;
    }
}

